/* Sidebar styles */
.sidebar {
    width: 185px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 48px;
}

.sidebar-header {
text-align: center;
margin-bottom: 30px;
}

.sidebar-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.sidebar-list {
list-style: none;
padding: 0;
}


.sidebar-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 7px 20px;
    transition: background-color 0.3sease;
}

.sidebar-item a:hover {
background-color: #555;
}
.nav-link.active {
    background-color: #ff6f61; /* Active link color */
    color: white;
    font-weight: bold;
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    margin-left: 15px;
}
.product {
    margin-left: 15px;
}